
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/FontAwsome/css/all.css" rel="stylesheet" />
    <link href="~/css/Admin-Index-StyleSheet.css" rel="stylesheet" />

</head>
<body>

<div class="admin-index">
    <h1>Green<span style="color: #ffcc00">BD</span></h1>
    <section>
        <div class="admin-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="left-side-bar">
                        <ul>
                            <li>
                                <a><i class="fas fa-caret-square-right"></i> &nbsp;&nbsp; Product Availability</a>
                            </li>
                            <li>
                                <a><i class="fas fa-caret-square-right"></i> &nbsp;&nbsp; Sells analysis</a>
                            </li>
                            <li>
                                <a><i class="fas fa-caret-square-right"></i> &nbsp;&nbsp; Buys analysis</a>
                            </li>
                            <li>
                                <a><i class="fas fa-caret-square-right"></i> &nbsp;&nbsp; Salary analysis</a>
                            </li>
                            <li>
                                <a><i class="fas fa-caret-square-right"></i> &nbsp;&nbsp; Food analysis</a>
                            </li>
                            <li>
                                <a><i class="fas fa-caret-square-right"></i> &nbsp;&nbsp; Cow analysis</a>
                            </li>
                            <li>
                                <a><i class="fas fa-caret-square-right"></i> &nbsp;&nbsp; Land analysis</a>
                            </li>
                            <li>
                                <a><i class="fas fa-caret-square-right"></i> &nbsp;&nbsp; Doctors analysis</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="right-side">
                        <div class="row">
                            <div class="control-panel-hedding">
                                <div class="col-lg-1 col-md-1">
                                    <i class="far fa-square"></i>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <h2>Dashboard</h2>
                                    <h4>Admin Control Panel</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="hedding-right">
                                        <i class="far fa-square"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="analysis-item">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Milk Sell</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Cow Sell</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Food Sell</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Milk Sell</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="analysis-item">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Milk Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Cow Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Food Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Milk Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <img src="~/Images/Other img/Playground__Chart_Gallery__OG_Image.png" class="img-responsive analysis-img" />
                        </div>
                        <div class="row">
                            <div class="analysis-item">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Milk Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Cow Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Food Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Milk Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="analysis-item">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Milk Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Cow Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Food Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item">
                                    <h3>Milk Buy</h3>
                                    <p>Litter : </p>
                                    <p>Amount : </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



</body>
</html>

