
@using Microsoft.AspNetCore.Http
@model GreenBD_Dairy.Models.CowManagement

@{
    ViewData["Title"] = "Edit";
}

<html>
<head>
    <link href="~/css/Create-Edit-Delete-StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="page-heding">
        <marquee><p>Careful<span style="color: #ffcc00">! </span> <span style="color: #FFCC00">@@</span><span style="color: #FFCC00"> @Context.Session.GetString("username")</span> for Updating this Bill Information for Cow Management</p></marquee>
    </div>
    <div class="container">
        <section>
            <div class="create-form">
                <div class="row" id="create-form-id">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="CowNationId" class="control-label"></label>
                                    <select asp-for="CowNationId" class="form-control" asp-items="ViewBag.CowNationId"></select>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="GenderId" class="control-label"></label>
                                    <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="CowName" class="control-label"></label>
                                    <input asp-for="CowName" class="form-control" />
                                    <span asp-validation-for="CowName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="PreCodeNo" class="control-label"></label>
                                    <input asp-for="PreCodeNo" class="form-control" />
                                    <span asp-validation-for="PreCodeNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="OurCodeNo" class="control-label"></label>
                                    <input asp-for="OurCodeNo" class="form-control" />
                                    <span asp-validation-for="OurCodeNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="CowGroupId" class="control-label"></label>
                                    <select asp-for="CowGroupId" class="form-control" asp-items="ViewBag.CowGroupId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="CowCollectionId" class="control-label"></label>
                                    <select asp-for="CowCollectionId" class="form-control" asp-items="ViewBag.CowCollectionId"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="CowPurposeId" class="control-label"></label>
                                    <select asp-for="CowPurposeId" class="form-control" asp-items="ViewBag.CowPurposeId"></select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="InitialPrice" class="control-label"></label>
                                    <input asp-for="InitialPrice" class="form-control" />
                                    <span asp-validation-for="InitialPrice" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="ManagerSignature" class="control-label"></label>
                                    <input asp-for="ManagerSignature" type="text" value="@Context.Session.GetString("username")" class="form-control" />
                                    <span asp-validation-for="ManagerSignature" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="EntryDate" class="control-label"></label>
                                    <input asp-for="EntryDate" type="text" value="@DateTime.Now" class="form-control" />
                                    <span asp-validation-for="EntryDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <input id="create-btn-right" type="submit" value="Update" class="btn btn-success" />
                    </form>
                    <div>
                        <a asp-action="Index" class="btn btn-info">Back to List</a>
                    </div>
                    <br />
                </div>
            </div>
        </section>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
    $(document).ready(function() {


        $("#number-of-product").keyup(function() {

            var product =  $("#number-of-product").val();
            var price = $("#price-id").val();
            var total = parseFloat(product) * parseFloat(price);

            $("#total-price-id").val(total);
        });
        $("#price-id").keyup(function() {

            var product =  $("#number-of-product").val();
            var price = $("#price-id").val();
            var total = parseFloat(product) * parseFloat(price);

            $("#total-price-id").val(total);
        });
        $("#total-price-id").keyup(function() {

            var product =  $("#number-of-product").val();
            var price = $("#price-id").val();
            var total = parseFloat(product) * parseFloat(price);

            $("#total-price-id").val(total);
        });
    });
    </script>


</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
