@using Microsoft.AspNetCore.Http
@model GreenBD_Dairy.Models.NumberSign

@{
    ViewData["Title"] = "Edit";
}

<html>
<head>
    <link href="~/css/Create-Edit-Delete-StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="page-heding">
        <marquee><p>Careful<span style="color: #ffcc00">! </span> <span style="color: #FFCC00">@@</span><span style="color: #FFCC00"> @Context.Session.GetString("username")</span> for updating Number Sign Information</p></marquee>
    </div>
    <div class="container">
        <section>
            <div class="create-form">
                <div class="row" id="create-form-id">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="NumberSignId"/>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="NumberSignName" class="control-label"></label>
                                    <input asp-for="NumberSignName" class="form-control" />
                                    <span asp-validation-for="NumberSignName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="OwnerSignature" class="control-label"></label>
                                    <input type="text" value="@Context.Session.GetString("username")" asp-for="OwnerSignature" class="form-control" />
                                    <span asp-validation-for="OwnerSignature" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="EntryDate" class="control-label"></label>
                                    <input type="text" value="@DateTime.Now" asp-for="EntryDate" class="form-control" />
                                    <span asp-validation-for="EntryDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <input type="submit" id="create-btn-right" value="Update" class="btn btn-success" />
                    </form>
                    <div>
                        <a asp-action="Index" class="btn btn-info">Back to List</a>
                    </div>
                    <br />
                </div>
            </div>
        </section>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
