@using Microsoft.AspNetCore.Http
@model GreenBD_Dairy.Models.FoodManagement

@{
    ViewData["Title"] = "Create";
}

<html>
<head>
    <link href="~/css/Create-Edit-Delete-StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="page-heding">
        <marquee><p>Welcome<span style="color: #ffcc00">! </span> <span style="color: #FFCC00">@@</span><span style="color: #FFCC00"> @Context.Session.GetString("username")</span> for Creating a new Bill for Food</p></marquee>
    </div>
    <div class="container">
        <section>
            <div class="create-form">
                <div class="row" id="create-form-id">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="FoodTypeId" class="control-label"></label>
                                    <select asp-for="FoodTypeId" class="form-control" asp-items="ViewBag.FoodTypeId">
                                        <option value="">----Select food type----</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="FoodName" class="control-label"></label>
                                    <input asp-for="FoodName" class="form-control" />
                                    <span asp-validation-for="FoodName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="FoodForm" class="control-label"></label>
                                    <input asp-for="FoodForm" class="form-control" />
                                    <span asp-validation-for="FoodForm" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="ComOrBrndName" class="control-label"></label>
                                    <input asp-for="ComOrBrndName" class="form-control" />
                                    <span asp-validation-for="ComOrBrndName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="ShopName" class="control-label"></label>
                                    <input asp-for="ShopName" class="form-control" />
                                    <span asp-validation-for="ShopName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="NumberOfProduct" class="control-label"></label>
                                    <input asp-for="NumberOfProduct" id="number-of-product" class="form-control" />
                                    <span asp-validation-for="NumberOfProduct" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="NumberSignId" class="control-label"></label>
                                    <select asp-for="NumberSignId" class="form-control" asp-items="ViewBag.NumberSignId">
                                        <option value="">----Select number Sign----</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" id="price-id" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="AmountSignId" class="control-label"></label>
                                    <select asp-for="AmountSignId" class="form-control" asp-items="ViewBag.AmountSignId">
                                        <option value="">----Select Amount Sign----</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="TotalPrice" class="control-label"></label>
                                    <input asp-for="TotalPrice"  id="total-price-id" class="form-control" />
                                    <span asp-validation-for="TotalPrice" id="total-price-id" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="ManagerSignature" class="control-label"></label>
                                    <input asp-for="ManagerSignature" type="text" value="@Context.Session.GetString("username")" class="form-control" />
                                    <span asp-validation-for="ManagerSignature" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="EntryDate" class="control-label"></label>
                                    <input asp-for="EntryDate" type="text" value="@DateTime.Now" class="form-control" />
                                    <span asp-validation-for="EntryDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            </div>
                        </div>
                        <br/>
                        <input id="create-btn-right" type="submit" value="Create" class="btn btn-success"/>
                    </form>
                    <div>
                        <a asp-action="Index" class="btn btn-info">Back to List</a>
                    </div>
                    <br />
                </div>
            </div>
        </section>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
    $(document).ready(function() {


        $("#number-of-product").keyup(function() {

            var product =  $("#number-of-product").val();
            var price = $("#price-id").val();
            var total = parseFloat(product) * parseFloat(price);

            $("#total-price-id").val(total);
        });
        $("#price-id").keyup(function() {

            var product =  $("#number-of-product").val();
            var price = $("#price-id").val();
            var total = parseFloat(product) * parseFloat(price);

            $("#total-price-id").val(total);
        });
        $("#total-price-id").keyup(function() {

            var product =  $("#number-of-product").val();
            var price = $("#price-id").val();
            var total = parseFloat(product) * parseFloat(price);

            $("#total-price-id").val(total);
        });
    });
    </script>


</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
