
@{
    ViewData["Title"] = "Cow";
    Layout = "~/Views/Shared/_Layout_ClientSide.cshtml";
}

<html>
<head>
    <link href="~/css/About-page-StyleSheet.css" rel="stylesheet" />
</head>
<body>
<div class="row">
    <div class="page-banner img-responsive">
    </div>
    <div class="over">
        <h1>Home / Cow</h1>
    </div>
</div>
</body>
</html>

