
@{
    ViewData["Title"] = "Manager";
}

<h2 class="alert alert-danger">Manager</h2>

<br/>
<h3 class="alert alert-danger">Management</h3>

<a href="/CowManagements/Index" class="btn btn-info">CowManagements</a>
<a href="/FoodManagements/Index" class="btn btn-info">FoodManagements</a>
<a href="/LandManagements/Index" class="btn btn-info">LandManagements</a>

<a href="/OthersPayments/Index" class="btn btn-info">OthersPayments</a>
<a href="/ProductBuys/Index" class="btn btn-info">ProductBuys</a>
<a href="/ProductSells/Index" class="btn btn-info">ProductSells</a>

<a href="/WorkerManagements/Index" class="btn btn-info">WorkerManagements</a>
<a href="/WorkerSalaries/Index" class="btn btn-info">WorkerSalaries</a>

<a href="/Transports/Index" class="btn btn-info">Transports</a>

<a href="/Doctors/Index" class="btn btn-info">Doctors</a>
<a href="/DoctorsSchedules/Index" class="btn btn-info">DoctorsSchedules</a>
<a href="/ProductReadyToDelivers/Index" class="btn btn-info">ProductReadyToDelivers</a>



<br/>

<a href="/AmountSigns/Index" class="btn btn-info">Amount Sign</a>
<a href="/CowCollections/Index" class="btn btn-info">CowCollections</a>
<a href="/CowGroups/Index" class="btn btn-info">CowGroups</a>

<a href="/CowPurposes/Index" class="btn btn-info">CowPurposes</a>
<a href="/Days/Index" class="btn btn-info">Days</a>
<a href="/FoodTypes/Index" class="btn btn-info">FoodTypes</a>

<a href="/Genders/Index" class="btn btn-info">Genders</a>
<a href="/Months/Index" class="btn btn-info">Months</a>
<a href="/NationOfCows/Index" class="btn btn-info">NationOfCows</a>

<a href="/NumberSigns/Index" class="btn btn-info">NumberSigns</a>
<a href="/PaymentMethods/Index" class="btn btn-info">PaymentMethods</a>
<a href="/ProductQualities/Index" class="btn btn-info">ProductQualities</a>

<a href="/ProductTypes/Index" class="btn btn-info">ProductTypes</a>
<a href="/Ranks/Index" class="btn btn-info">Ranks</a>
<a href="/SpecialistTypes/Index" class="btn btn-info">SpecialistTypes</a>

<a href="/TransportTypes/Index" class="btn btn-info">TransportTypes</a>





